$pink-40: #FA75A6;

.quote {
  margin-top: 1.5rem;
}

.hr {
  padding-top: 1.5rem;
  position: relative;

  &:before {
    background-color: #8c8c8c;
    // content: '';
    height: 1px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
  }
}

.opener,
.recommended,
.quote,
.consider,
.questions,
.example {
  margin-bottom: 5rem;

  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  ul {
    width: 100%;
  }

  li:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

// TODO Change per breakpoint
.recommendation:nth-of-type(n+5) {
  margin-top: 3rem;
}

.opener {
  margin-bottom: 5rem;

  h3 {
    margin-top: 0;
    width: 100%;
  }
}

.recommended,
.consider,
.questions {
  margin-bottom: 5rem;
}

.show-on-small {
  display: none;
}

.hide-on-small {
  display: block;
}

@media (max-width: 672px) {
  .show-on-small {
    display: block;
  }

  .hide-on-small {
    display: none;
  }
}
