.hero {

}

.getting-started {
  padding-top: 2.375rem;
  padding-bottom: 8.125rem;

  .card {
    background-color: #282828;
    border: .0625rem solid #171717;
  }
}

.contribute {
  padding-top: 3.5rem;

  h3,
  h4 {
    margin-top: 0 !important;
  }
}
