.hero {

}

.getting-started {
  padding-top: 2.375rem;
  padding-bottom: 8.125rem;

  .card {
    background-color: #DCDCDC;
    border: .0625rem solid #f3f3f3;

    h3,
    p {
      color: black;
    }

    h3 {
      margin-bottom: 3.75rem;
      margin-top: .5rem;
    }

    h5 {
      color: #8C8C8C;
    }

    p:not(:last-of-type) {
      margin-bottom: 6.25rem;
    }

  }
}

.contribute {
  padding-top: 3.5rem;
  padding-bottom: 13.75rem;

  h3,
  h4 {
    margin-top: 0 !important;
  }
}
